@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

* {
    margin: 0px;
    padding: 0px;
}
#background {
    display: flex;
    flex-direction: column;
    background-Position: center;
    background-Size: cover;
    background-Repeat: no-repeat;
}
#foot_wrap {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 100%;
    bottom: 0;
    margin-top: 25px;
    z-index: 1;
}
#footer_links {
    display: flex;
    justify-content: space-evenly;
    margin: 5px;
}
#Controller-interface {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 25%;
    margin: 25% 0 0 65%;
    border-radius: 20%;
    z-index: 1;
    position: relative;
}
#Controller-interface2{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 25%;
    margin: 25% 0 0 65%;
    border-radius: 20%;
    z-index: 1;
    position: relative;
}
.Selector {
    display: flex;
    justify-content: space-evenly;
    margin: 15px;
    cursor: pointer;
    z-index: 1;
}
.Selector img {
    height: 50px;
    z-index: 1;
}
.AlienBro {
    width: 10%;
    height: 10%;
    margin: -10% 0 0 40%;
    cursor: pointer;
}
.OnStage {
    margin: 5% 0 0 19%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    z-index: 0;
}
.OnStage img {
    height: 200%;
    width:200%;
    overflow: hidden;
}
#music_selector {
    padding-bottom: 30px;
    opacity: 85%;
    z-index: 1;
}
#Controller_interface {
    z-index: 1;
}
#scrolling_text {
    width: 150%;
}
#Screen {
    border: 1px solid black;
    width: 70%;
    height: 450px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 0 0 15%;
    justify-content: space-between;
    align-items: center;
}
#crowd {
    width: 100%;
    margin: -11% 0 0 0;
}
#crowd img {
    width: 100%;
}
#exit_wrapper {
    display: flex;
    justify-content: space-between;
}
#LeftExit {
    background-color: lightgrey;
    padding: 5px;
    border-radius: 15%;
    width: 5%;
    margin-left: 5%;
    border: 1px solid black;
    z-index: 444;
}
#RightExit {
    background-color: lightgrey;
    padding: 5px;
    border-radius: 15%;
    width: 5%;
    margin-right: 5%;
    border: 1px solid black;
    z-index: 444;
}
.ExitSign {
    text-decoration: none;
}
#MovieBoard {
    width: 35%;
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 0 0 31.5%;
    font: 2em;
    position: relative;
    z-index: 1;
}
#MovieBoard {
    background-color: rgb(226, 226, 226);
    border: 3px solid black;
}
#MovieBoard a {
    text-decoration: none;
}
#MovieBoard a:hover {
    color: blue;
    font-weight: bold;
}
#MovieBoard th, td {
    border: 1.5px solid black;
    width: 30%;
    padding: .5%;
    justify-content: space-evenly;
    text-align: center;
}
#robo_kiosk {
    margin: -2.5% 0 0 -55%;
}
#robo_kiosk img {
    height:20%;
    width: 20%;
    cursor:pointer;
}
#octo_pop {
    margin: -5% 0 0 50%;
    cursor: pointer;
}
#Loud_Crowd {
    width:100%;
    bottom:0;
    margin: -25% 0 0 0%;
    z-index: 0;
    position: relative;
}
#Movie_Wrap {
    background-image: url('./static/MovieBkg.gif');
    background-Position: center;
    background-Size: cover;
    background-Repeat: no-repeat;
    width:100%;
}
#Sketchy_characters {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    position: relative;
}
#Sketchy_trumpy {
    margin: 0% 15% 0% 0%;
    z-index:-1;
}
#Music_background {
    margin:0px;
    background-Size: cover;
    background-Repeat: no-repeat;
    background-image: url('./static/MusicBkg.gif');
    width: 100%;
    top: -1;
    position: relative;
}
#Artist {
    display: flex;
    width: 40%;
    border: 3px solid black;
    align-items: center;
    margin-left: 30%;
    border-radius: 2.5%;
    padding: 5px;
    background-color: lightgrey;
}
#Art_Wrapper {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;

}
#Art_Canvas {
    border: 2px solid black;
    width: 65%;
    height: 60vh;
    margin: 5px;
}
#Art_Tools ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    padding: 10px;
}
#Cockpit_View {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#Asteroids_Game_Window {
    border: 3.5px dashed rgb(0, 255, 0);
    height: 45vh;
    width: 55%;
    margin-left: 22.5%;
}
#Alien_Driver img{
    height: 20%;
    width: 20%;
}
#Paint_Wrapper {
    background-Position: center;
    background-Size: cover;
    background-Repeat: no-repeat;
}
#AlienRight {
    display: none;
}
#AlienLeft {
    display:none;
}