@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

* {
    margin: 0px;
    padding: 0px;
}
#background {
    display: flex;
    flex-direction: column;
    background-Position: center;
    background-Size: cover;
    background-Repeat: no-repeat;
}
#foot_wrap {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    position: fixed;
    width: 90%;
    bottom: 0;
    margin-top: 10px;
}
#footer_links {
    display: flex;
    justify-content: space-evenly;
    margin: 5px;
}
#Controller-interface {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 25%;
    margin: 35% 0 0 65%;
    border-radius: 20%;
}
#Controller-interface2{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 25%;
    margin: 35% 0 0 65%;
    border-radius: 20%;
}
.Selector {
    display: flex;
    justify-content: space-evenly;
    margin: 15px;
    cursor: pointer;
}
.Selector img {
    height: 50px;
}
.AlienBro {
    width: 10%;
    height: 10%;
    margin: -10% 0 0 40%;
    cursor: pointer;
}
.OnStage {
    margin: -15% 0 0 20%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    z-index: -2;
}
.OnStage img {
    height: 200%;
    width:200%;
    overflow: hidden;
}
#music_selector {
    padding-bottom: 30px;
    opacity: 85%;
}
#scrolling_text {
    width: 150%;
}
#Screen {
    border: 1px solid black;
    width: 70%;
    height: 450px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 10% 0 0 15%;
    justify-content: space-between;
    align-items: center;
}
#crowd {
    width: 100%;
    margin: -11% 0 0 0;
}
#crowd img {
    width: 100%;
}
#exit_wrapper {
    display: flex;
    justify-content: space-between;
}
#LeftExit {
    background-color: lightgrey;
    padding: 5px;
    border-radius: 15%;
    width: 5%;
    margin-left: 5%;
    border: 1px solid black;
    z-index: 444;
}
#RightExit {
    background-color: lightgrey;
    padding: 5px;
    border-radius: 15%;
    width: 5%;
    margin-right: 5%;
    border: 1px solid black;
    z-index: 444;
}
.ExitSign {
    text-decoration: none;
}
#MovieBoard {
    width: 35%;
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10% 0 0 15%;
    z-index: 444;
    font: 2em;
}
#MovieBoard {
    background-color: rgb(226, 226, 226);
    border: 3px solid black;
}
#MovieBoard a {
    text-decoration: none;
}
#MovieBoard a:hover {
    color: blue;
    font-weight: bold;
}
#MovieBoard th, td {
    border: 1.5px solid black;
    width: 30%;
    padding: .5%;
    justify-content: space-evenly;
    text-align: center;
}
#robo_kiosk {
    margin: -05% 0 0 -15%;
}
#robo_kiosk img {
    height:20%;
    width: 20%;
}
#octo_pop {
    margin: 0% 0 0 65%;
}
#Loud_Crowd {
    width:100%;
    bottom:0;
    margin: -25% 0 0 0%;
    z-index: -1;
    position: relative;
}
/* #Movie_Wrap {
    background-image: ;
} */
#Sketchy_characters {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}